<!DOCTYPE html>
<html>
<head>
	<title>Add new comment</title>
	<meta charset="utf-8">
	<script src="static/jquery-3.2.1.min.js"></script>
	<script src="static/commonUtils.js"></script>
	<script src="static/AddCommentForm.js"></script>
	<script src="static/Validator.js"></script>
	<link rel="stylesheet" type="text/css" href="static/AddCommentForm.css">

	<script type="text/javascript">
		$(document).ready(function(){
			const addCommentForm = new AddCommentForm();
		});
	</script>
</head>
<body>
</body>
</html>